.pop-cover{
	background-color: rgb(242, 242, 242);
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
	position: absolute;
	width: 100%;
	z-index: 999;
}

.pop-cover.show{
	opacity: 1;
	transform: translateY(-2px);
}