:root{
	--white-font-color: #fff;
	--black-font-color: #000;
	--yellow-font-color: #ffeb3be3;
	--space-large: 40px;
	--space-middle: 20px;
	--space-samll: 10px;
}

.margin-top-small{
	margin-top: var(--space-samll) !important;
}

.margin-top-middle{
	margin-top: var(--space-middle) !important;
}

.margin-top-large{
	margin-top: var(--space-large) !important;
}

.custom-button:focus  {
  outline: none
}