.product-head {
  width: 100%;
}

.home-img-div {
  width: 50%;
}
.home-img {
  height: 70%;
  width: 100%;
  inset: 0px;
  object-fit: cover;
  display: block;
}

.product-list {
	display: flex;
	flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem;
}

.product-list::-webkit-scrollbar {
  height: 8px;
}

.product-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.product-list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}